*{
    background-color: rgb(211, 194, 194);
    font-family:cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 4rem;
    scroll-behavior:smooth ;
    list-style: none;
    text-decoration: none;
}

:root{
    --main-color :orange;
    --secondary-color :white;
    --text-color :rgb(20, 19, 19);
    --bg-color:purple;

    --box-shadow :2px 2px 10px 14px rgb(14 55 54/15%);
}

img{
width:100%;
}

body{
color :var(--text-color);
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    border: 1px solid black;
    padding: 18px 100px;
    background-color: var(--text-color);
    transition: 0.5s linear;

}

.logo img{
    width: 60px;
}

.navbar{
    display: flex;
}

.navbar a{
    padding: 8px 17px;
    color: var(--bg-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar a:hover{
    background-color: var(--main-color);
    border-radius: 0.2rem;
    transition-property:var(--bg-color) ;
    transition-duration: 0.5s;
    transition-timing-function: linear ;
}

.header-icon{
    font-size: 22px;
    cursor: pointer;
    z-index: 10000;
    display: flex;
    column-gap: 0.8rem;
}

.header-icon .bx{
    color: var(--bg-color);
}

#menu-icon{
    color: var(--bg-color);
    font-size: 24px;
    z-index: 10000;
    display: none;
}

.search-box{
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translate(-50%);
  background-color: var(--bg-color);
  width: 100%;

}
.search-box.active{
    top: 110%;
    box-shadow: var(--box-shadow);
    transition-property:top ;
    transform-origin:0.25s ;
    transition-timing-function:linear ;

}

.search-box input{
    border: none;
    padding: 20px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: var(--main-color);

}

.search-box input::placeholder{
    font-size: 1rem;
    font-weight: 500;

}

