*{
    /* background-color: rgb(211, 194, 194);*/
    font-family:cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 4rem;
    scroll-behavior:smooth ;
    list-style: none;
    text-decoration: none;
}

:root{
    --main-color :rgb(246, 141, 35);
    --secondary-color :white;
    --text-color :rgb(20, 19, 19);
    --bg-color:rgb(149, 34, 149);

    --box-shadow :2px 2px 10px 14px rgba(1, 126, 124, 0.15);
}

section{
    padding: 50px 100px;
}

img{
width:100%;
}

body{
color :var(--text-color);
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    border: 1px solid black;
    padding: 18px 100px;
    background-color: var(--text-color);
    transition: 0.5s linear;

}

.logo img{
    width: 60px;
}

.navbar{
    display: flex;
}

.navbar a{
    padding: 8px 17px;
    color: var(--bg-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar a:hover{
    background-color: var(--main-color);
    border-radius: 0.2rem;
    transition-property:var(--bg-color) ;
    transition-duration: 0.5s;
    transition-timing-function: linear ;
}

.header-icon{
    font-size: 22px;
    cursor: pointer;
    z-index: 10000;
    display: flex;
    column-gap: 0.8rem;
}

.header-icon .bx{
    color: var(--bg-color);
}

#menu-icon{
    color: var(--bg-color);
    font-size: 24px;
    z-index: 10000;
    display: none;
}

.search-box{
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translate(-50%);
  background-color: var(--bg-color);
  width: 100%;

}
.search-box.active{
    top: 110%;
    box-shadow: var(--box-shadow);
    transition-property:top ;
    transform-origin:0.25s ;
    transition-timing-function:linear ;

}

.search-box input{
    border: none;
    padding: 20px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: var(--main-color);

}

.search-box input::placeholder{
    font-size: 1rem;
    font-weight: 500;

}

.home{
    width: 100%;
    min-height: 100vh;
    background-image: url("copy img/wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(17rem,auto));
    align-items: center;
    gap: 1.5rem; 

}

.home-text h1{
    font-size: 3.4rem;
    color: rgb(111, 5, 5);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.home-text
{
    font-size: 0.938rem;
    color:black;
    margin: 0.5rem 0 1.4rem;
}

.btn{
    padding: 10px 40px;
    border-radius: 0.3rem;
    background-color: var(--main-color);
    color: var(--bg-color);
    font-weight: 500;
}

.btn:hover{
    background: #8a6f4d;

}

.home-text p {
    margin-bottom: 20px; /* Adds space below the paragraph */
}

.home-text .btn {
    margin-top: 10px; /* Optional extra spacing above button */
}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
   
    align-items: center;
    gap: 2rem;
}

.about-img img {
    width: 100%;
    height: auto;
    border-radius: 1.8rem;
}

.about-text h2{
    font-size: 2.5rem;
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 1.4rem;
}
.about-text p{
    font-size: 0.938rem;
    color: var(--bg-color);
    margin-bottom: 1.4rem;
}


.heading{
    text-align: center;
    margin-bottom: 2rem;
}

.heading h2{
    font-size: 2.5rem;
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.product-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,auto));
    gap: 1.5rem;
    margin-top: 2rem;
}

.product-container .box{
    position: relative;
    
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
  
}
.product-container img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    padding: 20px;
    background-color: rgb(232, 230, 227);
}
.product-container .box h3{
    font-size: 1rem;
    font-weight: 600;
    margin: 0.5rem 0 0.5rem;
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0.5rem;
}
.product-container .box .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 10px; 
}

.product-container .box .content span {
    padding: 0.2rem 1rem; 
    color: var(--bg-color);
    background-color: rgb(0, 200, 255);
    border-radius: 0.2rem;
    font-weight: 500;
    
    /* VERY OBVIOUS RED BORDER FOR TESTING */
    border: 2px solid; 
}

.product-container .box .content a {
    border: 2px solid ;
    padding: 0.2rem 1rem;
    color:var(--bg-color);
    border-radius: 4px;
    text-transform: uppercase;
}

.product-container .box .content a:hover {
    background-color: red;
    color: wheat;
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: linear;
    transition-delay: 0.5s;
}

.customer-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,auto));
    gap: 1.5rem;
    margin-top: 2rem;
}

.customer-container .box{
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
  
}

.customer-container p{
    font-size: 0.938rem;
    color: var(--bg-color);
    margin-bottom: 1.4rem;
    text-align: center;
}

.customer-container .box h3{
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0.5rem 0 0.5rem;
    color: blue;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0.5rem;
}

.customer-container .box img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin-bottom: 1rem;
}
.stars .bx{
    color: #0b0101;
}

.customer-container .box:hover {
   background-color: rgb(170, 192, 199);
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: linear;
    transform: scale(105%);
}

.footer{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    gap: 1.5rem;
    background-color: var(--text-color);
    color: var(--bg-color);
    text-align: center;
    padding: 20px;
    margin-top: 2rem;
}

.footer-box h3{
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0.5rem 0 0.5rem;
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.footer-box p{
    color: var(--bg-color);
    display: block;
    margin-bottom: 10px;
}

.social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
}

.social-icons a .bx{
    color: var(--bg-color);
    font-size: 24px;
    padding: 10px;
    background-color: var(--secondary-color);
    border-radius: 0.2rem;

}

.social-icons a .bx:hover{
    background-color: var(--main-color);
    color: rgb(27, 30, 54);
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}
.footer-box li a{
    color: var(--bg-color);
    display: block;
    margin-bottom: 10px;
    ;
}

.footer-box li a:hover{
    color: var(--main-color);
    transition-property: color;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}
.footer-box .Contact-Us{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: center;
    gap: 1rem;
}

@keyframes hero {
    0%, 100% {
        transform: translateY(0); /* Starts and ends in the exact same spot */
    }
    50% {
        transform: translateY(30px); /* Moves down at the halfway point */
    }
}

.home-img img {
    animation: hero 3s ease-in-out infinite;
}



@media (max-width: 1058px) {
    header{
        padding: 16px 60px;
    }
    section{
        padding: 50px 60px;
    }
    
    .home-text h1{
        font-size: 2.4rem;
    }
}


@media (max-width: 991px) {
    header{
        padding: 16px 4%;
    }
    section{
        padding: 50px 4%;
    }
    
    .home-text h1{
        font-size: 2rem;
    }

    .product-container{
    grid-template-columns:repeat(2,1fr);
}

.customer-container{
    grid-template-columns:repeat(2,1fr);
}

.footer{
    grid-template-columns:repeat(2,1fr);
}
}

@media (max-width: 768px) {
    header{
        padding: 12px 4%;
    }
    
    #menu-icon{
        display: initial;
    }

    .navbar{
        position: absolute;
        top: -500px; /* THIS HIDES THE MENU OFF THE TOP OF THE SCREEN */
        left: 0;
        right: 0;
        width: 100%;
        background-color: var(--secondary-color);
        flex-direction: column;
        display: flex;
        row-gap: 1.4em;
        padding: 20px;
        transition: 0.3s;
        text-align: center;
    }

    .navbar a{
        padding: 8px 17px;
        color: var(--text-color);
    }

    .navbar a:hover{
        background-color: var(--main-color);
    }

    /* THE FIX: Use a dot (not a colon) and pull the menu down */
    .navbar.active {
       top: 100%; /* THIS SLIDES THE MENU DOWN WHEN CLICKED */
    }

.about{
    grid-template-columns:1fr;
    text-align:center;
}

.about-img img{
    width:90%;
    margin:auto;
}

.home{
    grid-template-columns:1fr;
    text-align:center;
}

.home-img img{
    width:80%;
    margin:auto;
}

.home-text h1{
    font-size:2rem;
}
.home-text h1{
    font-size: 1.8rem;
    line-height: 1.2;
}

.product-container{
    grid-template-columns:1fr;
}

.customer-container{
    grid-template-columns:1fr;
}

.footer{
    grid-template-columns:1fr;
    text-align:center;
}

}

@media (max-width: 360px) {
    header {
        padding: 11px 4%;
    }
    .logo img {
        width: 45px;
    }
    .home-text {
        padding-top: 15px;
    }
    .home-text h1 {
        font-size: 1.4rem;
    }

    /* THE NUKE OPTION */
    .about {
        display: flex !important; 
        flex-direction: column-reverse !important; 
        align-items: center;
        text-align: center;
    }
    .about-text  {
        text-align: center;
    }

    .about-text h2 {
        font-size: 1.2rem;
    }

    .heading h2 {
        font-size: 1.2rem;
    }
}


